<!--app-header (tituloOut)="recibirTitulo($event)" title="Titulo desde APP">
</app-header-->

<!--app-todo-list></app-todo-list-->

<!--app-select-elements></app-select-elements-->

<!--app-formulario></app-formulario-->

<!--app-api></app-api-->

<!--nav>
    <a class="btn rounded-0" routerLink="home" routerLinkActive="link-active">
        <span class="material-symbols-outlined">home</span>
    </a>
    <a class="btn rounded-0" routerLink="servicios" routerLinkActive="link-active">Servicios</a>
    <a class="btn rounded-0" routerLink="contacto" routerLinkActive="link-active">Contacto</a>
</nav>

<main class="d-flex justify-content-center h-100">
    <router-outlet></router-outlet>
</main-->

<h1>{{ title | uppercase }}</h1>

<h1>${{ num | number: '1.0-0' : 'es' }}</h1>

<h1>{{ title | rerverse }}</h1>

<h1>{{ num | sum: 100 }}</h1>

<h1 [innerHTML]="title | capitalize"></h1>

<h1>{{ hoy | date: 'dd/MM/yyyy' }}</h1>